@charset "UTF-8";

body {
    /* padding-top: 3em; */
    background-image: linear-gradient(90deg, rgb(224, 250, 224), rgb(255, 255, 209));
    /* background-image: linear-gradient(90deg, rgb(216, 253, 242), rgb(210, 255, 220)); */
    background-size: cover;
    font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
      "Geneva", "Verdana", "sans-serif";
}

#title-style {
    color: rgb(160, 160, 160);
    font-family: 'Minecraft', sans-serif;
    /* background: linear-gradient(#7c7c7c 0%, #c0c0c0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    font-size: 50px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

a:hover {
    color: rgb(168, 255, 168) !important;
}

#selected-link {
    color: rgb(206, 255, 199);
}
